.App {
  display: flex;
  background-image: radial-gradient(#444, #111);
  box-shadow: 0 0 5vmin 1vmin #000 inset;
  box-sizing: border-box;
  font-family: 'Fira Mono', monospace;
  font-size: 20px;
  height: 100vh;
  overflow: hidden;
}

.App:before {
  animation:wave 10s infinite ease-in-out;
  content:"";
  height:20vh;
  left:0;
  opacity:.5;
  position:absolute;
  right:0;
  z-index:1;
}

.App:after {
  background-image:linear-gradient(transparent, transparent 3px, #222);
  background-size:3.5px 3.5px;
  bottom:0;
  content:"";
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top:0;
  z-index:2;
}

li:last-child .message:after {
  animation:blink 1s infinite;
  content:"_";
}



.App .active-users-list {
  border: 1px solid grey;
    flex: 1 1 20%;
    min-width: 185px;
}

.App .input-container {
  width: 100%;
    bottom: 0;
    margin-top: 10px;
    margin: 0;
    padding: 0;
}

.messsages-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  flex: 10 1 80%;
}

body {
  overflow: hidden;
}

ul {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

ul::-webkit-scrollbar { width: 0 !important }

li {
  padding: 10px;
  animation: messageJumping 1s ease-in-out;

}

li .name {
  color: #0088cc;
  font-weight: bold;
  margin-bottom: 5px;
  animation:colorPulse 5s infinite ease-in-out;
}

.message  {
  font-weight: normal;
}

.avatar {
  float: left;
  width: 50px;
  height: 50px;
  font-size: 22px;
  text-align: center;
  color: white;
  background: #4a708b;
  border-radius: 50%;
  line-height: 2.3;
  margin-right: 11px;
}

input {
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 22px;
  padding-left: 10px;
}

button {
  display: none;
}


/*PSEUDO PLACEHOLDER*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0,0,0,.35);}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0,0,0,.35);}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0,0,0,.35);}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0,.35);}


/*ANIMATIONS*/
@keyframes wave {
  0% {
    box-shadow:0 -10vh 20vh #8ed9ff;
    top:-100vh;
  }
  48%, 52% {
    box-shadow:0 -10vh 20vh #8ed9ff;
  }
  50% {
    box-shadow:0 -10vh 20vh #8ed9ff;
  }
  100% {
    box-shadow:0 -10vh 20vh #8ed9ff;
    top:200vh;
  }
}

@keyframes blink {
  50% {
    opacity:0;
  }
}

@keyframes messageJumping {
  0% {
    opacity: 0;
    transform: scale(0.5);
    margin-left: 500px;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    margin-left: 0;
    display: block;
  }
}

@keyframes colorPulse {
  0%, 100% {
    color:#00689c;
  }
  48%, 52% {
    color:#00689c;
  }
  50% {
    color:#0084c6;
  }
}
