.App {
  display: flex;
  justify-content: center;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
}

.App .messsages-container {
  flex-grow: 2;
  color: black;
  height: 675px;
}

.App .active-users-list {
  border: 1px solid grey;
  flex-grow: 1;
}

.App .input-container {
  width: 100%;
  /*background: red;*/
  position: absolute;
  bottom: 0;
}


.messsages-container {
  position: relative;
}

body {
  overflow: hidden;
}


ul {
  width: 600px;
  height: 600px;
  overflow: scroll;
  padding: 0;
  margin-left: 20px;
}

ul::-webkit-scrollbar { width: 0 !important }

li {
 display: block;
  width: 400px;
  height: auto;
  padding: 10px;
}

li .name {
  color: #0088cc;
  font-weight: bold;
  margin-bottom: 5px;
}

.message  {
  font-weight: normal;
}

.avatar {
  float: left;
  width: 50px;
  height: 50px;
  font-size: 22px;
  text-align: center;
  color: white;
  background: #4a708b;
  border-radius: 50%;
  line-height: 2.3;
  margin-right: 11px;
}


.name {


}
li:last-child .name {

}


input {
  width: 98%;
  height: 50px;
  outline: none;
  font-size: 22px;
  padding-left: 10px;
}

button {
  display: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0,0,0,.35);}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0,0,0,.35);}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0,0,0,.35);}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(0,0,0,.35);}