div {
  text-align: center;
}
body {
  background: black;
}

ul {
  width: 400px;
  background: black;
  color: white;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
}

ul li {
  list-style: none;
  margin: 5px;
  transition: 1s ease;
}
li:last-child {
  color: orange;
}

input {
  width: 380px;
  height: 30px;
  margin: 3px;
}
